.form {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.form__input {
  flex-grow: 1;
  padding: 8px;
}

@media (max-width: 767px) {
  .form__input {
    flex-basis: 100%;
  }
}

.form__button {
  border: none;
  background: hsl(187, 100%, 25%);
  color: white;
  padding: 10px;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .form__button {
    flex-basis: 100%;
  }
}

.form__button:hover {
  background: hsl(187, 100%, 33%);
  scale: 1.1;
}

@media (max-width: 767px) {
  .form__button:hover {
    scale: 1.04;
  }
}

.form__button:active {
  background: hsl(187, 100%, 40%);
}
