.tasks {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.tasks__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 2px solid #ededed;
}

.tasks__item--hidden {
  display: none;
}

.tasks__itemContent {
  flex: 1 1 auto;
}

.tasks__itemContent--completed {
  text-decoration: line-through;
}

.tasks__itemButton {
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  transition: 0.5s;
}

.tasks__itemButton--toggleCompleted {
  font-size: 21px;
  background: hsl(120, 100%, 25%);
}

.tasks__itemButton--toggleCompleted:hover {
  background: hsl(120, 100%, 35%);
}

.tasks__itemButton--toggleCompleted:active {
  background: hsl(120, 100%, 45%);
}

.tasks__itemButton--remove {
  background: hsl(0, 100%, 50%);
  font-size: 28px;
}

.tasks__itemButton--remove:hover {
  background: hsl(0, 100%, 62%);
}

.tasks__itemButton--remove:active {
  background: hsl(0, 100%, 75%);
}
