@media (max-width: 767px) {
  .buttons {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.buttons__button {
  border: none;
  background: #fff;
  color: hsl(187, 100%, 25%);
  transition: 0.5s;
  padding: 10px;
}

.buttons__button:hover {
  color: hsl(187, 100%, 40%);
}

.buttons__button:disabled {
  color: hsl(0, 0%, 75%);
  cursor: default;
}
